
/*generic*/
body {
	background: url(assets/images/bg.png);
    background-size: cover;
    font-family: 'frutiger-bold';
    font-weight: normal;
}
@font-face {
	font-family: 'frutiger-bold';
	src: url("./fonts/FrutigerLTStd-Bold.eot");
	src: url("./fonts/FrutigerLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/FrutigerLTStd-Bold.woff") format("woff"), url("./fonts/FrutigerLTStd-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

/*header*/
.header {
    background-color: #231f20;
    padding: 40px 30px 35px;
    border-bottom: 10px solid #ed1c24;
}
.header img {
	max-width: 165px;
}

/*body*/
.body {
	text-align: center;

	position: absolute;
    left: 50%;
    top: calc(50% + 70px);
    transform: translate(-50%, -50%);
}

/*text*/
h1 {
	background: -webkit-linear-gradient(#999b9e, #3d3c3e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 70px;
    line-height: 1em;
    margin: 0 0 15px;
    padding: 0;
}

h4 {
    font-size: 40px;
    line-height: 1em;
    color: #a5a7aa;
    margin: 0;
}

/*boxes*/
.wrapper {
	display: flex;
    justify-content: center;
    margin-top: 100px;
}

.wrapper > a {
	background: #ed1c24;
    border-radius: 15px;
    color: #fff;
    padding: 35px 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0;

    min-width: 210px;
}
.wrapper > a:last-child {
	margin-right: 0;
}

.wrapper > a p {
	margin: 0;
	width: 100%;
	font-size: 24px;
	line-height: 1.2em;
}


/*media*/
@media only screen and (max-width: 950px) {

	h1 {
		font-size: 50px;
	}
	h4 {
		font-size: 30px;
	}

	.header {
		padding: 30px 30px 25px;
	}

	.body {
		position: relative;
		transform: none;
		top: 0;
		left: 0;
		margin: 100px 0;
		padding: 0 40px;
	}
	
	.wrapper {
		flex-direction: column;
		align-items: center;
		margin-top: 70px;
	}

	.wrapper a {
		margin-right: 0px;
		margin-bottom: 30px;
		padding: 20px 0;

		min-width: 300px;
   		min-height: 70px;
	}
	.wrapper > a:last-child {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 768px) {

	h1 {
		font-size: 40px;
	}
	h4 {
		font-size: 20px;
	}

	.body {
		padding: 0 15px;
	}
}